.footer {
  background-color: #1b242f;
}
.footer-copyright {
  color: #8f9aa7;
  padding: 20px 0;
  text-align: center;
  vertical-align: bottom;
}

.footer-heart {
  color: #af111c;
  animation: heartbeat 1s infinite;
  display: inline-block;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.25);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.25);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
